<html>
	<head>
    <link rel="stylesheet" type="text/css" href="NEditor.css">
    <script src="renderer.js"></script>
    <script src="http://wzrd.in/standalone/uuid%2Fv4@latest"></script>
    <script src="redux/node-graph.js"></script>
    <script src="NEditor.js"></script>
    <script src="svg.js"></script>
    <script src="node.js"></script>
    <script src="input.js"></script>
    <script src="output.js"></script>
		<script>
			window.onload = () => {
        svgManager.init('connsvg');

        // n3.outputs['Output'].connect(n4.inputs['Input B']);
        // n2.outputs['Output'].connect(n4.inputs['Input A']);
        // n1.outputs['Output'].connect(n2.inputs['Input']);
        // n1.outputs['Output'].connect(n3.inputs['Input']);
        setTimeout(() => {
          createNode({
            name: "A",
            outputs: ['Output'],
            position: { x: 50, y: 200 }
          });
        }, 1000);

        setTimeout(() => {
          createNode({
            name: "B",
            inputs: ['Input'],
            outputs: ['Output'],
            position: { x: 300, y: 300 }
          });
        }, 2000);

        setTimeout(() => {
          createNode({
            name: "C",
            inputs: ['Input'],
            outputs: ['Output'],
            position: { x: 300, y: 50 }
          });
        }, 3000);

        setTimeout(() => {
          createNode({
            name: "D",
            inputs: ['Input A', 'Input B'],
            position: { x: 700, y: 180 }
          });
        }, 4000);
			};
		</script>
	</head>
<body>

<svg id="connsvg"></svg>

</body>
</html>
